a{
    text-decoration: none !important; 
}

ul{
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: start;
}


li{
    font-weight: bold;
}

h5{
    font-weight: bolder;
}